<div class="container-fluid about-section">
    <div class="row">
        <div class="d-flex text-dark px-4">
            Welcome to our Diversity Dialogues 2024: Remaking Theater of the Oppressed for our times.
        </div>
        <div class="d-flex px-4">
            In February 2023 about 20 theater of the oppressed practitioners, or jokers as they are called in TO language, gathered in Bangalore
            to ask themselves: <br/>
            How is TO responding to the challanges of our times? A methodology created in Brazil 50 years ago, and in response to a specific political 
            situation, is TO relevant in the Indian context today?
        </div>
        <div class="d-flex px-4">
            The answer is YES! More than ever before, in fact. We are surrounded by divisive and dehumanizing discourses. We are being pressured in an 
            inentional, calculated manner, to stay in silos, compartmentalize our lives and thoughts, and our work, so that our voices stay weak. More 
            than ever. 
        </div>
    </div>
</div>
